#root {
  max-width: 100%;
  margin: 0 auto;
}

/*** HOME PAGE ***/
.home-container {
  background: linear-gradient(0deg, rgba(134, 102, 102, 0.46), rgba(0, 0, 0, 0.46)),
    url('./assets/images/home-hero.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 650px;
  min-height: 450px;
  color: white;
  padding: 150px 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 20px auto 0;
}

.home-container h1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 42px;
}

.home-container p {
  line-height: 24px;
}

.home-container a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #ff8c38;
  border: none;
  width: 250px;
  margin-top: 27px;
  padding-block: 0.75rem;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.home-container a:hover {
  transform: translate(1px, 1px);
}

/*** ABOUT PAGE ***/
.about-page-container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.about-hero-image {
  width: 100%;
  height: 10%;
}

.about-page-content {
  padding-inline: 23px;
  color: #161616;
  margin: 40px 0;
}

.about-page-content h1 {
  line-height: 28px;
  margin-bottom: 10px;
}

.about-page-content p {
  line-height: 22px;
  text-align: left;
}

.about-page-cta {
  background-color: #ffcc8d;
  color: #161616;
  padding-inline: 32px;
  padding-bottom: 32px;
  margin-inline: 27px;
  border-radius: 5px;
}

.about-page-cta h2 {
  margin: 0;
  padding-block: 37px;
}

.about-page-cta .link-button {
  background-color: #161616;
  color: white;
  border-radius: 10px;
}

/*** VANS PAGE ***/
.vans {
  /* TODO fix the columns with auto-fill/auto-fit */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
  width: 80%;
  margin: 50px auto 0;
  gap: 25px;

  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around; */
 
}

.van-header {
  text-align: center;
}

.vans a {
  color: #161616;
  text-decoration: none;
}

.van-card {
  height: 350px;
  width: 350px;
  margin-bottom: 100px;
}

.van-card img {
  width: 100%;
  border-radius: 10px;
}

.van-details {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: black;
}

.van-price {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.van-price span {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

.van-button {
  display: inline-block;
  text-decoration: none;
  padding: 0.75rem 1.375rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  color: #fff;
}

.van-button-luxury {
  background-color: #161616;
}
.van-button-simple {
  background-color: #e17654;
}
.van-button-rugged {
  background-color: #115e59;
}

.van-button:hover {
  transform: translate(1px, 1px);
}

/* filter */
.van-list-filter-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.van-type {
  height: 34px;
  padding: 6px 20px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #ffead0;
  color: #4d4d4d;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
  margin: 18px;
}

.van-type:hover {
  color: #ffead0;
  cursor: pointer;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #ffead0;
}

.van-type.simple:hover,
.van-type.simple.selected {
  background-color: #e17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
  background-color: #115e59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
  background-color: #161616;
}

.van-type.clear-filters:hover {
  background-color: #ee2d2d;  
}


/*** VAN DETAIL PAGE ***/

.van-detail-container {
  width: 50%;
  margin: 0 auto;
  text-align: left;
}

.van-detail {
  display: flex;
  flex-direction: column;
  color: #161616;
}

.van-detail img {
  width: 100%;
  height: 650px;
  border-radius: 5px;
  align-self: center;
  margin-bottom: 30px;
}

.van-detail-container .van-price {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.van-detail h2 {
  font-size: 2rem;
  margin: 10px 0;
}

.van-detail > i {
  align-self: flex-start;
}

.van-detail .van-price {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.van-detail .link-button {
  background-color: #ff8c38;
  color: white;
  font-size: 1.125rem;
  margin-top: 10px;
}

/* edit */
.host-nav {
  display: flex;
  margin-left: 6%;
}

.host-nav a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 500;
  padding: 5px 20px;
}

.host-nav a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: 600;
}

/*Host Vans*/
.host-van-link-wrapper {
  color: unset;
  text-decoration: unset;
}

.host-vans-list {
  padding-inline: 26px;
  width: 80%;
  margin: 0 auto;
}

.host-vans-title {
  padding-inline: 26px;
  margin-bottom: 40px;
  text-align: center;
}

.host-van-single {
  display: flex;
  align-items: center;
  background-color: #f1ebebc0;
  padding-block: 18px;
  padding-left: 24px;
  margin-bottom: 15px;
}

.host-van-single > img {
  height: 70px;
  border-radius: 5px;
  margin-right: 17px;
}

.host-van-info h3 {
  font-size: 20px;
  font-weight: 600;
  margin-block: 10px;
}

.host-van-info p {
  margin-block: 10px;
  text-align: left;
}

.host-van-detail-layout-container {
  background-color: white;
  width: 80%;
  padding: 24px;
  margin: 30px auto;
}

.host-van-detail {
  display: flex;
  align-items: center;
  text-align: left;
}

.host-van-detail > img {
  height: 160px;
  border-radius: 5px;
  margin-right: 20px;
}

.host-van-detail-info-text > h3 {
  margin-top: 24px;
  margin-bottom: 5px;
  font-size: 26px;
  font-weight: 700;
}

.host-van-detail-info-text > h4 {
  font-size: 20px;
  margin-block: 0;
}

.host-van-detail-nav {
  display: flex;
  margin-block: 25px;
}

.host-van-detail-nav a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 500;
  padding: 5px 20px;
}

.host-van-detail-nav a:first-of-type {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 500;
  padding: 5px 15px;
  margin-left: -15px;
}

.host-van-detail-nav a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: 700;
}

.host-van-detail-info {
  text-align: left;
}

.host-van-detail-info > h4 {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  margin: 10px 0;
}
.host-van-detail-info > h4 > span {
  font-weight: 500;
}

.host-van-price {
  font-size: 24px;
  font-weight: 500;
}

.host-van-price > span {
  font-size: 16px;
  color: #4d4d4d;
}

.host-van-detail-image {
  height: 100px;
  border-radius: 5px;
}

