#root {
  max-width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}


/*** HOME PAGE ***/
.home-container {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("./assets/images/home-hero.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 700px;
  min-height: 450px;
  color: white;
  padding: 150px 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin: 0 auto;
}

.home-container h1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 42px;
}

.home-container p {
  line-height: 24px;
}

.home-container a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #FF8C38;
  border: none;
  width: 250px;
  margin-top: 27px;
  padding-block: .75rem;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
}

.home-container a:hover {
  transform: translate(1px, 1px);
}


/*** ABOUT PAGE ***/
.about-page-container{
  width: 70%;
  margin: 0 auto;
  justify-content: center;
}

.about-hero-image {
  width: 80%;
}

.about-page-content {
  padding-inline: 23px;
  color: #161616;
  margin: 40px 0;

}

.about-page-content h1 {
  line-height: 38px;
}

.about-page-content p {
  line-height: 22px;
}

.about-page-cta {
  background-color: #FFCC8D;
  color: #161616;
  padding-inline: 32px;
  padding-bottom: 32px;
  margin-inline: 27px;
  border-radius: 5px;
}

.about-page-cta h2 {
  margin: 0;
  padding-block: 37px;
}

.about-page-cta .link-button {
  background-color: #161616;
  color: white;
  border-radius: 10px;
}

/*** VANS PAGE ***/
.vans{
 display: grid;
 grid-template-columns: repeat(3, 1fr);
  text-align: left;
  width: 80%;
  margin: 90px auto 0;
  gap: 25px;
}

.vans a {
  color: #161616;
  text-decoration: none;    
}

.van-card{
  height: 350px;
  width: 350px;
  margin-bottom: 100px;
}

.van-card img{
  width: 100%;
  border-radius: 10px;
}

.van-details{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: black;
}

.van-price{
  display: flex;
  flex-direction: column;
  text-align: right;
}

.van-price span{
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
}

.van-button {
  display: inline-block;
  background-color: #E17654;
  text-decoration: none;
  padding: .75rem 1.375rem;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
}

.van-button:hover {
  transform: translate(1px, 1px);
}

/*** VAN DETAIL PAGE ***/

.van-detail-container {
  padding: 27px;
}

.van-detail-container .back-button {
  color: black;
  text-decoration: none;
}


.van-detail-container .back-button span {
  text-decoration: underline;
}

.van-detail {
  display: flex;
  flex-direction: column;
  color: #161616;
}

.van-detail img {
  border-radius: 5px;
  margin-block: 47px;
}

.van-detail h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.van-detail > i {
  align-self: flex-start;
}

.van-detail .van-price {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.van-detail .van-price span {
  font-weight: 700;
  font-size: 1.5rem;
}

.van-detail .link-button {
  background-color: #FF8C38;
  color: white;
  font-size: 1.125rem;
}

